export ALCHEMY_API_KEY=YOUR_API_KEY
export ETH_FROM=YOUR_DEFAULT_SENDER_ACCOUNT
export ETHERSCAN_API_KEY=YOUR_API_KEY

# # Optional Default Network
# export ETH_RPC_URL=http://localhost:8545

####### API KEYS #######

PRIVATE_KEY=<private_key>
ALCHEMY_API_URL=<alchemy_api_url>

####### API KEYS #######
#
# in development environment NONE of the below api keys are required
# if you leave this file BLANK the app will run via the `ethers` community api key
# the only side effect may be some latency
#

# add your ALCHEMY API KEY
# - Alchemy IDs are only used as fallbacks (in conjunction with INFURA_IDS)
# - multiple IDS should be separated by whitespace
# - in development environment app will run without an ALCHEMY API KEY
# - you can pick up Alchemy API Keys at https://auth.alchemyapi.io/
REACT_APP_ALCHEMY_IDS=""

# add your INFURA ID
# - Infura IDs are only used as fallbacks (in conjunction with ALCHEMY_IDS)
# - multiple IDS should be separated by whitespace
# - you can pick up INFURA_IDS at https://infura.io/
REACT_APP_INFURA_IDS=""

# add a TESTNET ALCHEMY API KEY
# - NOTE: does NOT allow multiple keys
REACT_APP_TESTNET_ALCHEMY=""

# if you run your own node you set your https address below
# - multiple IDS should be separated by whitespace
# - in Production node URLs must be secure `https://`
# - in Development node URLs must be insecure `http://`
REACT_APP_SELF_HOSTED_NODE="https://ipAddress:port"

# Required for IP -> Country lookup
REACT_APP_GEOAPIFY_API_KEY=""

########################

ALCHEMY_API_URL=
AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
AIRTABLE_TABLE_NAME=
NEXT_PUBLIC_OPENZEPPELIN_URL=
SUPPORTED_CHAIN_ID=
NEXT_PUBLIC_IPFS_GATEWAY_URL=
NEXT_PUBLIC_ALCHEMY_KEY=
MORALIS_API_KEY=
NEXT_PUBLIC_MAGIC_KEY=
NEXT_PUBLIC_RPC_MAINNET=
NEXT_PUBLIC_RPC_RINKEBY=
NEXT_PUBLIC_RPC_GOERLI
NEXT_PUBLIC_RPC_FANTOM=
NEXT_PUBLIC_RPC_AVALANCHE=
NEXT_PUBLIC_RPC_POLYGON=
NEXT_PUBLIC_RPC_MUMBAI=
FEEDBACK_WEBHOOK_URL=
NEXT_PUBLIC_CONVERTKIT_API_KEY=
DISCORD_FEEDBACK_WEBHOOK_URL=
DISCORD_WEBHOOK_URL=