{
    "singleQuote": false,
    "trailingComma": "all",
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "useTabs": false,
    "printWidth": 80,
    "tabWidth": 2,
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "avoid"
  }
  